{% extends '::base.html.twig' %}
{% block body %}
	{# <form action="{{path('user_create')}}" method="post">
		<input type="text" name='name' placeholder='Your Name' value='{{user.name}}'>
		<input type="email" name="email" placeholder="Your email" value='{{user.email}}'>
		<input type="password" name="password" placeholder="Password">
		<input type="text" name='address' placeholder="Address" value='{{user.address}}'>
		<input type="submit" value="Create User">
	</form> #}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<a href='{{path("user_list")}}'>Back to User List</a>
{% endblock %}