{% extends '::base.html.twig' %}
{% block body %}
	{% for message in app.session.flashbag.get('message') %}
		{{message}}
	{% endfor %}
	<h3>List of users</h3>
	<ul>
	{% for user in users %}
		<li>
			<a href="{{path('user_list')}}{{user.id}}">{{user.name}}</a><br>
			<a href="{{path('user_delete', {id:user.id})}}">Delete</a>
		</li>
	{% endfor %}
	</ul>
	<a href="{{path('create_form')}}">Create User</a>
{# 	{{ dump(users) }} #}
{% endblock %}
