{% extends '::base.html.twig' %}
{% block body %}
	User Details
	<h2>Name: {{user.name}}</h2><br>
	<h3>Email:{{user.email}}</h3><br>
	<h3>Address:{{user.address}}</h3><br>
	<a href='{{path("update_form",{id:user.id})}}'>Edit</a>
	<a href='{{path("user_list")}}'>Back to User List</a>
{% endblock %}
